# Movie Recommendation

## Call Data

In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
movies = pd.read_csv('C:/Users/maste/Documents/대학교/대학교 3학년 2학기/기계학습/Final Project/tmdb_5000_movies.csv')
credits = pd.read_csv('C:/Users/maste/Documents/대학교/대학교 3학년 2학기/기계학습/Final Project/tmdb_5000_credits.csv')

## Data Cleaning

In [3]:
for index, row in movies.iterrows():
    genre_list = []
    for genre in json.loads(row['genres']):
        genre_list.append(genre['name'])
    movies.at[index, 'genres'] = str(genre_list)

In [4]:
for index, row in movies.iterrows():
    keyword_list = []
    for keyword in json.loads(row['keywords']):
        keyword_list.append(keyword['name'])
    movies.at[index, 'keywords'] = str(keyword_list)

In [5]:
movies = movies.merge(credits,left_on='id',right_on='movie_id',how='left')
movies = movies[['id','original_title','genres','vote_average','keywords']]
movies.head()

,id,original_title,genres,vote_average,keywords
0,19995,Avatar,"['Action', 'Adventure', 'Fantasy', 'Science Fi...",7.2,"['culture clash', 'future', 'space war', 'spac..."
1,285,Pirates of the Caribbean: At World's End,"['Adventure', 'Fantasy', 'Action']",6.9,"['ocean', 'drug abuse', 'exotic island', 'east..."
2,206647,Spectre,"['Action', 'Adventure', 'Crime']",6.3,"['spy', 'based on novel', 'secret agent', 'seq..."
3,49026,The Dark Knight Rises,"['Action', 'Crime', 'Drama', 'Thriller']",7.6,"['dc comics', 'crime fighter', 'terrorist', 's..."
4,49529,John Carter,"['Action', 'Adventure', 'Science Fiction']",6.1,"['based on novel', 'mars', 'medallion', 'space..."

In [6]:
new_id = list(range(0,movies.shape[0]))
movies['new_id'] = new_id
movies = movies[['new_id','original_title','genres','vote_average','keywords']]
movies.head()

,new_id,original_title,genres,vote_average,keywords
0,0,Avatar,"['Action', 'Adventure', 'Fantasy', 'Science Fi...",7.2,"['culture clash', 'future', 'space war', 'spac..."
1,1,Pirates of the Caribbean: At World's End,"['Adventure', 'Fantasy', 'Action']",6.9,"['ocean', 'drug abuse', 'exotic island', 'east..."
2,2,Spectre,"['Action', 'Adventure', 'Crime']",6.3,"['spy', 'based on novel', 'secret agent', 'seq..."
3,3,The Dark Knight Rises,"['Action', 'Crime', 'Drama', 'Thriller']",7.6,"['dc comics', 'crime fighter', 'terrorist', 's..."
4,4,John Carter,"['Action', 'Adventure', 'Science Fiction']",6.1,"['based on novel', 'mars', 'medallion', 'space..."

### Genre Column

In [7]:
movies['genres'] = movies['genres'].str.strip('[]').str.replace(' ','').str.replace("'",'')
movies['genres'] = movies['genres'].str.split(',')

In [8]:
def sort_and_join(genre_list):
    return ', '.join(sorted(genre_list))

movies['genres'] = movies['genres'].apply(sort_and_join)

In [9]:
genre_list = []

for genres in movies['genres']:
    for genre in genres.split(', '):
        if genre not in genre_list and genre != '':
            genre_list.append(genre)

def binary(movie_genres, genre_list):
    binary_list = []

    for genre in genre_list:
        if genre in movie_genres:
            binary_list.append(1)
        else:
            binary_list.append(0)

    return binary_list

In [10]:
movies['binary_genres'] = movies['genres'].apply(binary, genre_list=genre_list)
movies['binary_genres'].head()

0    [1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1    [1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2    [1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
3    [1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...
4    [1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Name: binary_genres, dtype: object

### Keyword Column

In [11]:
movies['keywords'] = movies['keywords'].str.strip('[]').str.replace(' ', '').str.replace("'", '').str.replace('"', '')
movies['keywords'] = movies['keywords'].str.split(',')

In [12]:
words_list = []

for index, row in movies.iterrows():
    genres = row["keywords"]
    
    for genre in genres:
        if genre not in words_list:
            words_list.append(genre)

def binary(keywords):
    binary_list = []
    for word in words_list:
        if word in keywords:
            binary_list.append(1)
        else:
            binary_list.append(0)
    return binary_list

In [13]:
movies['binary_words'] = movies['keywords'].apply(binary)
movies['binary_words'].head()

0    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
1    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
3    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
4    [0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...
Name: binary_words, dtype: object

In [14]:
movies.head()

,new_id,original_title,genres,vote_average,keywords,binary_genres,binary_words
0,0,Avatar,"Action, Adventure, Fantasy, ScienceFiction",7.2,"[cultureclash, future, spacewar, spacecolony, ...","[1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
1,1,Pirates of the Caribbean: At World's End,"Action, Adventure, Fantasy",6.9,"[ocean, drugabuse, exoticisland, eastindiatrad...","[1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,2,Spectre,"Action, Adventure, Crime",6.3,"[spy, basedonnovel, secretagent, sequel, mi6, ...","[1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,3,The Dark Knight Rises,"Action, Crime, Drama, Thriller",7.6,"[dccomics, crimefighter, terrorist, secretiden...","[1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,4,John Carter,"Action, Adventure, ScienceFiction",6.1,"[basedonnovel, mars, medallion, spacetravel, p...","[1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, ..."

In [15]:
movies = movies[(movies['vote_average']!=0)]

In [16]:
movies['new_id']= range(movies.shape[0])
movies.head()

,new_id,original_title,genres,vote_average,keywords,binary_genres,binary_words
0,0,Avatar,"Action, Adventure, Fantasy, ScienceFiction",7.2,"[cultureclash, future, spacewar, spacecolony, ...","[1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
1,1,Pirates of the Caribbean: At World's End,"Action, Adventure, Fantasy",6.9,"[ocean, drugabuse, exoticisland, eastindiatrad...","[1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,2,Spectre,"Action, Adventure, Crime",6.3,"[spy, basedonnovel, secretagent, sequel, mi6, ...","[1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,3,The Dark Knight Rises,"Action, Crime, Drama, Thriller",7.6,"[dccomics, crimefighter, terrorist, secretiden...","[1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,4,John Carter,"Action, Adventure, ScienceFiction",6.1,"[basedonnovel, mars, medallion, spacetravel, p...","[1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, ..."

## Similarity Between Movies

### Euclidean Distance

In [17]:
from scipy import spatial

def distance(movieId1, movieId2):
    a = movies.iloc[movieId1]
    b = movies.iloc[movieId2]
    
    genresA = a['binary_genres']
    genresB = b['binary_genres']
    genredistance = spatial.distance.euclidean(genresA, genresB)
    
    wordsA = a['binary_words']
    wordsB = b['binary_words']
    wordsdistance = spatial.distance.euclidean(wordsA, wordsB)
    
    return genredistance + wordsdistance

In [18]:
distance(3, 50)

7.64564216548981

In [19]:
print(movies.iloc[3])
print(movies.iloc[50])

new_id                                                            3
original_title                                The Dark Knight Rises
genres                               Action, Crime, Drama, Thriller
vote_average                                                    7.6
keywords          [dccomics, crimefighter, terrorist, secretiden...
binary_genres     [1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...
binary_words      [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Name: 3, dtype: object
new_id                                                           50
original_title                  Prince of Persia: The Sands of Time
genres                          Action, Adventure, Fantasy, Romance
vote_average                                                    6.2
keywords          [persia, sandstorm, brotheragainstbrother, arm...
binary_genres     [1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ...
binary_words      [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Name: 50, dtype: object

### Recommend Movie

In [20]:
import operator

def calculate_similarity(movie1_id, movie2_id):
    return distance(movie1_id, movie2_id)

def get_neighbors(base_movie, k):
    distances = []

    for index, movie in movies.iterrows():
        if movie['new_id'] != base_movie['new_id'].values[0].astype(int):
            dist = calculate_similarity(base_movie['new_id'].values[0], movie['new_id'])
            distances.append((movie['new_id'], dist))

    distances.sort(key=operator.itemgetter(1))
    return distances[:k]

def recommend_movie(movie_name, k=10):
    new_movie = movies[movies['original_title'].str.contains(movie_name)].iloc[0].to_frame().T
    
    print('Selected Movie: ', new_movie.original_title.values[0])
    
    neighbors = get_neighbors(new_movie, k)
    
    print('\nRecommended Movies: \n')
    for neighbor in neighbors:
        movie_info = movies.iloc[neighbor[0]]
        print(f"{movie_info['original_title']} | Genres: {str(movie_info['genres']).strip('[]').replace(' ', '')} | Rating: {movie_info['vote_average']}")

In [21]:
recommend_movie('The Dark Knight')

Selected Movie:  The Dark Knight Rises

Recommended Movies:

The Dark Knight | Genres: Action,Crime,Drama,Thriller | Rating: 8.2
Kiss of Death | Genres: Action,Crime,Drama,Thriller | Rating: 5.7
Takers | Genres: Action,Crime,Drama,Thriller | Rating: 6.0
Faster | Genres: Action,Crime,Drama,Thriller | Rating: 6.1
In Too Deep | Genres: Action,Crime,Drama,Thriller | Rating: 6.2
Gangster Squad | Genres: Action,Crime,Drama,Thriller | Rating: 6.2
Sabotage | Genres: Action,Crime,Drama,Thriller | Rating: 5.5
Street Kings | Genres: Action,Crime,Drama,Thriller | Rating: 6.3
Harry Brown | Genres: Action,Crime,Drama,Thriller | Rating: 6.7
Stolen | Genres: Action,Crime,Drama,Thriller | Rating: 5.1

In [22]:
recommend_movie('Interstellar')

Selected Movie:  Interstellar

Recommended Movies:

Silent Running | Genres: Adventure,Drama,ScienceFiction | Rating: 6.3
Midnight Special | Genres: Adventure,Drama,ScienceFiction | Rating: 6.2
The Martian | Genres: Adventure,Drama,ScienceFiction | Rating: 7.6
Stargate: The Ark of Truth | Genres: Adventure,ScienceFiction | Rating: 6.9
The Giver | Genres: Drama,ScienceFiction | Rating: 6.4
End of the Spear | Genres: Adventure,Drama | Rating: 6.1
The Wicked Lady | Genres: Adventure,Drama | Rating: 4.3
Трудно быть богом | Genres: Drama,ScienceFiction | Rating: 6.7
A.I. Artificial Intelligence | Genres: Adventure,Drama,ScienceFiction | Rating: 6.8
The Road | Genres: Adventure,Drama | Rating: 6.8